@charset 'utf-8';

.benefits-sec {}
.benefits-container {
  padding: 0 80px;
}
.benefits-wrap {
    display: flex;
    justify-content: space-between;
  padding-top: 150px;
}

.benefits-wrap h3 {
  font-size: 2em;
  /* color: var(--primary-color); */
}
.benefits-wrap h3:after {
}
.benefits-list {
  display: flex;
  /* gap: 5em; */
  flex-wrap: wrap;
  width: 55%;
}
.item {
  padding-left: 5em;
  padding-bottom: 2em;
}
.item img {width: 50%;}
.item div {padding: 1em 0;}