@charset 'UTF-8';
@import url('var.css');
/* 1. mo ~767px까지 */
@media all and (max-width: 767px) {
    .mo-lang-container {
        display: none;
    }

    .kcar-mo-gnb-sec {}

    .mo-gnb-container {
        padding: 0 25px;
    }

    .mo-depth1>a:after {
        /* 화살표 */
        float: right;
        display: block;
        width: 20px;
        height: 2.8em;
        background: url('../images/svg/i_more.svg') center center / 120% no-repeat;
        content: '';
        opacity: 0.7;
        transition: 0.3s;
    }

    .mo-depth2 {
        /*서브메뉴*/
        height: 0;
        overflow: hidden;
        padding: 0 2em 1em;
        opacity: 0;
    }

    .mo-depth1>a {
        padding: 0 1em;
    }


    .ir .mo-depth2 {
        display: flex;
        flex-wrap: wrap;
        padding-right: 2em;
    }

    .ir li {
        width: 40%;
    }

    .mo-depth1.active .mo-depth2 {
        /*서브메뉴 동작*/
        height: auto;
        padding: 0 2em 1em;
        opacity: 1;
    }

    .mo-depth1.active>a {
        color: var(--primary-color);
    }

    .mo-depth1.active>a:after {
        transform: scaleY(-1);
    }


}

/* 2. tb 768px부터~ */
@media all and (min-width: 768px) {
    body {
        font-size: 16px;
    }

    .pd-l {
        padding: 100px 0;
    }

    .pd-m {
        padding: 60px 0;
    }

    .pd-s {
        padding: 40px 0;
    }

    .kcar-logo {
        width: 120px;
        z-index: 98;
    }

    .sitemap-close-btn {
        right: 0;
        top: 0;
        width: 100px;
        height: 100px;
        z-index: 1;
    }

    .sitemap-close-btn:before {
        font-size: 50px;
    }



    .mo-gnb-container {
        position: absolute;
        right: 0;
        top: 0;
        display: table;
        width: 100%;
        height: 100%;
    }

    .mo-gnb-wrap {
        display: table-cell;
        vertical-align: middle;
    }

    .mo-gnb {}

    .mo-depth1 {
        position: relative;
        padding: 10px 0 30px;
        margin: 0;
    }

    .mo-depth1>a {
        display: inline-block;
        font-size: 1.4em;
    }

    .mo-depth2 {}

    .mo-depth2:after {
        display: block;
        clear: both;
        content: '';
    }

    .mo-depth2 li {
        float: left;
        padding-right: 2.4em;
        letter-spacing: -1px;
    }

    .mo-depth2 li:last-child {
        padding-right: 0;
    }

    .mo-depth2 li a {
        max-width: 7em;
        transition: 0.3s;
    }

    .mo-lang-container {
        display: none;
    }

    .shop-btn {
        display: block;
        width: 90%;
        margin: 0;
        /* margin: 2em auto; */
        /* 버튼 가운데 정렬 */
    }

    /* 푸터 */
    #kcar-ft {}

    .ft-info-wrap {}

    /* 사업장 동작 */
    .ft-place-wrap:hover .ft-place-list {
        height: 250px;
        padding: 1em;
    }

    .gototop {
        top: inherit;
        bottom: 56px;
        width: 64px;
        height: 64px;
        background-size: 36px;
    }
}

/* 3. only tb 768px ~ 1279px */
@media all and (min-width: 768px) and (max-width: 1279px) {
    .kcar-mo-gnb-sec {
        width: 80%;
        background-color: rgba(255, 255, 255, 0.95);
    }

    .mo-gnb {
        padding-top: 3em;
    }

    .mo-gnb-wrap {
        padding: 0 4em;
    }

    .mo-depth1>a {
        line-height: 1.5;
    }

    .mo-depth1 {
        width: 90%;
    }
}

/* 4. pc 1280px부터~ */
@media all and (min-width: 1280px) {
    body {
        font-size: 17px;
    }

    .hd-wrap {
        height: 80px;
        /*auto 에서 변경*/
    }

    .kcar-logo {
        width: 135px;
    }

    #kcar-gnb {
        display: block;
        width: 48%;
        min-width: 720px;
    }

    #kcar-gnb.sub-on:before {
        height: 20rem;
        background-color: #000;
        box-shadow: 0 2.4rem 2.4rem -1.2rem rgba(0, 0, 0, 0.25);
    }

    body.sub #kcar-gnb.sub-on:before {
        background-color: #fff;
    }

    #kcar-gnb:before {
        content: '';
        position: absolute;
        left: 0;
        top: 100%;
        width: 100%;
        height: 0;
        /* border-radius: 0 0 100% 100%; */
        transition: 0.3s;
    }

    .kcar-gnb {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    .depth1 {
        position: relative;
    }

    .depth1:hover>a {
        color: var(--primary-color);
    }

    .depth1>a {
        position: relative;
        display: flex;
        align-items: center;
        height: 80px;
        padding: 0 0.5em;
        font-size: 1.1em;
        z-index: 2;
    }
}

.depth2 {
    position: absolute;
    left: calc(50% - 120px);
    top: 100%;
    width: 240px;
    padding: 20px 0;
    text-align: center;
    line-height: 2;
    overflow: hidden;
    z-index: 1;
    transform: none;
    transition: 0.6s;
}

.depth2:before {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    content: '';
    z-index: -1;
}

.depth2 li {
    opacity: 0;
    transform: translateY(100%);
    transition: 0.2s;
}

.depth2 li a {}

.depth2 li:hover>a {
    color: var(--primary-color);
}

/* kcar-gnb 동작 */
.depth1.active .depth2 {
    transform: translateY(0);
}

.depth1.active .depth2 li {
    opacity: 1;
    transform: translateY(0);
    transition: 0.4s 0.5s;
}

/* 사이트맵 */

.kcar-mo-gnb-sec {
    display: none;
    top: 0;
    left: 0;
    overflow: hidden;
}

.kcar-mo-gnb-sec.active {
    display: block;
}

.sitemap-close-btn:after {
    /* circle */
    position: absolute;
    right: -20px;
    top: -20px;
    display: block;
    width: 140%;
    height: 140%;
    background: url(../images/sitemap_circle.png) center center / cover no-repeat;
    content: '';
    animation: circle_ani 10s linear infinite;
}

.sitemap-close-btn:before {
    font-size: 60px;
}

.mo-gnb-container {
    padding: 0;
}

.mo-gnb-wrap {}

.kcar-mo-gnb-sec:before {
    /* x버튼 */
    position: absolute;
    left: 30px;
    bottom: 30px;
    width: 40%;
    height: 100%;
    background: url('../images/svg/logo_gr_site.svg') left bottom / 60% no-repeat;
    content: '';
    opacity: 0.3;
}


.mo-gnb {
    display: flex;
    height: 100%;
}

.mo-depth1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc(100% / 6);
    height: 100%;
    padding: 15% 0 0;
    background-color: transparent;
    border-right: 1px solid rgba(0, 0, 0, 0.1);
}

.mo-depth1:hover {
    background-color: var(--primary-color);
}

.mo-depth1>a {
    font-size: 1.7em;
}

.mo-depth1:hover>a {
    color: #fff;
}

.mo-depth2 {
    /* display: flex;
        flex-direction: column; */
}

.mo-depth2 li {
    display: block;
    width: 100%;
    padding: 0;
    text-align: center;
}

.mo-depth2 li a {
    display: inline-block;
    font-size: 1.1em;
    white-space: nowrap;
    opacity: 1;
}

.mo-depth2 li:hover a:after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    border-bottom: 2px solid #fff;
}

.mo-depth2 li:hover a {
    position: relative;
    color: #fff;
}

.shop-btn {
    display: none;
}

/* 4.3 하단(footer) */
.ft-info {}

.ft-sitemap {
    /*오른쪽*/
    /* display: block; */
}

.ft-sitemap ol {
    display: flex;
    justify-content: space-between;
    padding-right: 20px;
}

.ft-depth1 {
    max-width: 120px;
}

.ft-depth1>a {
    /* color: #fff;
    font-size: 1.2em;
    font-weight: 600; */
}

.ft-depth2 {}

.ft-depth2 li {
    margin: 1.5em 0;
}

@media screen and (min-width: 1600px) {
    .mo-gnb {
        font-size: 1.2em;
    }
}

@media screen and (min-width: 1900px) {
    body {
        font-size: 18px;
    }
}