@charset 'UTF-8';
@import url('var.css');
/* 1. mo ~767px까지 */
@media all and (max-width: 767px) {

    .mo-gnb-container {
        padding: 0 25px;
    }

    .kcar-mo-gnb-sec {}

    .ir .mo-depth2 {
        display: flex;
        flex-wrap: wrap;
        padding-right: 2em;
    }

    .ir li {
        width: 40%;
    }


    .mo-depth1>a:after {
        /* 화살표 */
        float: right;
        display: block;
        width: 20px;
        height: 2.8em;
        background: url('../images/svg/i_more.svg') center center / 120% no-repeat;
        content: '';
        opacity: 0.7;
        transition: 0.3s;
    }

    .mo-depth2 {
        /*서브메뉴*/
        height: 0;
        overflow: hidden;
        opacity: 0;
    }

    .mo-depth1>a {}

    .mo-depth1.active .mo-depth2 {
        /*서브메뉴 동작*/
        height: auto;
        padding: 0 1em 1em;
        opacity: 1;
    }

    .mo-depth1.active>a {
        color: var(--primary-color);
    }

    .mo-depth1.active>a:after {
        transform: scaleY(-1);
    }

    .family-site-btn {
        padding: 10px 10px;
        min-height: inherit;
    }

    .btn-label {
        font-size: 0.8em;
    }
}

/* 2. tb 768px부터~ */
@media all and (min-width: 768px) {
    .wrap {
        padding: 0 60px;
    }


    body {
        font-size: 16px;
    }

    .kcar-logo {
        z-index: 0;
    }


    .kcar-logo {
        width: 130px;
        /* z-index: 98; */
    }

    .sitemap-close-btn {
        right: 0;
        top: 0;
        width: 100px;
        height: 100px;
        z-index: 1;
    }

    .sitemap-close-btn:before {
        font-size: 40px;
    }



    .mo-gnb-container {
        position: absolute;
        right: 0;
        top: 0;
        display: table;
        width: 100%;
        height: 100%;
    }

    .mo-gnb-wrap {
        display: table-cell;
        vertical-align: middle;
    }

    .mo-gnb {}

    .mo-depth1 {
        position: relative;
        padding: 10px 0 30px;
        margin: 0;
    }

    .mo-depth1>a {
        display: inline-block;
        font-size: 1.4em;
    }

    .mo-depth2 {}

    .mo-depth2:after {
        display: block;
        clear: both;
        content: '';
    }

    .mo-depth2 li {
        float: left;
        padding-right: 2.4em;
        letter-spacing: -1px;
    }

    .mo-depth2 li:last-child {
        padding-right: 0;
    }

    .mo-depth2 li a {
        max-width: 7em;
        transition: 0.3s;
    }

    .mo-lang-container {
        display: none;
    }

    .shop-btn {
        display: block;
        margin: 0;
        /* margin: 2em auto; */
        /* 버튼 가운데 정렬 */
    }



    /* 푸터 */
    .gototop {
        top: inherit;
        bottom: 56px;
        width: 64px;
        height: 64px;
        background-size: 36px;
    }

    #kcar-ft .ft-logo {
        width: 300px;
        height: 38px;
    }

    .ft-company-info dl {
        font-size: 1.2em;
    }

}

/* 3. only tb 768px ~ 1279px */
@media all and (min-width: 768px) and (max-width: 1279px) {
    .kcar-mo-gnb-sec {
        width: 80%;
        background-color: rgba(255, 255, 255, 0.95);
    }

    .mo-gnb {
        padding-top: 3em;
    }

    .mo-gnb-wrap {
        padding: 0 4em;
    }

    .mo-depth1>a {
        line-height: 1.5;
    }

    .mo-depth1 {}
}

/* 4. pc 1280px부터~ */
@media all and (min-width: 1280px) {
    .wrap {
        padding: 0 96px;
    }

    body {
        font-size: 17px;
    }

    .hd-wrap {
        height: 80px;
    }

    #kcar-gnb {
        display: block;
        width: 48%;
        min-width: 720px;
    }

    #kcar-gnb.sub-on:before {
        height: 21rem;
        background-color: #000;
        box-shadow: 0 2.4rem 2.4rem -1.2rem rgba(0, 0, 0, 0.1);
    }

    #kcar-gnb.sub-on:after {
        display: block;
    }

    body.sub #kcar-gnb.sub-on:before {
        background-color: #fff;
    }

    body.sub #kcar-gnb.sub-on:after {
        display: block;
    }

    .kcar-logo {
        width: 150px;
    }


    /* 사이트맵 */

    .kcar-mo-gnb-sec {
        display: none;
        left: 0;
        overflow: hidden;
    }

    .kcar-mo-gnb-sec.active {
        display: block;
    }

    .sitemap-close-btn:after {
        /* circle */
        position: absolute;
        right: -20px;
        top: -20px;
        display: block;
        width: 140%;
        height: 140%;
        background: url(../images/sitemap_circle.png) center center / cover no-repeat;
        content: '';
        animation: circle_ani 10s linear infinite;
    }

    .sitemap-close-btn:before {
        font-size: 60px;
    }

    .mo-gnb-container {
        padding: 0;
    }

    .mo-gnb-wrap {}

    .kcar-mo-gnb-sec:before {
        /* x버튼 */
        position: absolute;
        left: 30px;
        bottom: 30px;
        width: 40%;
        height: 100%;
        background: url('../images/svg/logo_gr_site.svg') left bottom / 60% no-repeat;
        content: '';
        opacity: 0.3;
    }


    .mo-gnb {
        display: flex;
        height: 100%;
    }

    .mo-depth1 {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: calc(100% / 6);
        height: 100%;
        padding: 15% 0 0;
        background-color: transparent;
        border-right: 1px solid rgba(0, 0, 0, 0.1);
        transition: 0.5s;
    }

    .mo-depth1:hover {
        background-color: var(--primary-color);
    }

    .mo-depth1>a {
        font-size: 1.7em;
    }

    .mo-depth1:hover>a {
        color: #fff;
    }

    .mo-depth1:hover .mo-depth2 li a {
        color: #fff;
        opacity: 0.7;
        transition: 0.3s;
    }

    .mo-depth2 {
        /* display: flex;
        flex-direction: column; */
    }

    .mo-depth2 li {
        display: block;
        width: 100%;
        padding: 0;
        text-align: center;
    }

    .mo-depth2 li a {
        display: inline-block;
        font-size: 1.1em;
        white-space: nowrap;
        opacity: 1;
    }

    .mo-depth2 li a:after {
        content: '';
        display: block;
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        transform: scaleX(0);
        transition: 0.4s;
    }

    .mo-depth2 li:hover a:after {
        content: '';
        border-bottom: 2px solid #fff;
        transform: scaleX(100%);
        transform-origin: center center;
        transition: 0.4s;
    }

    .mo-depth1:hover .mo-depth2 li:hover a {
        position: relative;
        color: #fff;
        opacity: 1;
    }

    /* pc푸터 */
    #kcar-ft {
        padding: 60px 0;
    }

    .icon-plus:after {

        font-size: 18px;

    }


    .ft-bottom {
        gap: 60px;
    }

    #kcar-ft .ft-awards-list {
        display: block;
        position: absolute;
        right: 0;
        top: 66px;
    }

    #kcar-ft .ft-awards-list li {
        padding-right: 0;
        padding-bottom: 10px;
        font-size: 12px;
        line-height: 1.4;
    }

    .ft-company-info .company dl:after {
        content: " | ";
        padding-right: 1em;
    }

    .ft-company-info .company dl:last-child:after {
        display: none;
    }

    #kcar-ft .ft-company-info,
    #kcar-ft .copyright {
        font-size: 16px;
        line-height: 1.8;
    }

    .ft-company-info .company {
        display: flex;
    }


    #kcar-ft .ft-sns-icons {
        display: flex;
        gap: 18px;
        margin: 24px 0 28px;
    }

    #kcar-ft .ft-sns-icons a {
        display: block;
        width: 32px;
        height: 32px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        opacity: 0.7;
    }

    #kcar-ft .btn-top-scroll {
        margin-top: 8px;
        margin-left: auto;
    }
}


/* kcar-gnb 동작 마우스 진입했을 때 */
.depth1.active .depth2 {
    display: block;
}

.depth1.active .depth2 li {}


/* 4.3 하단(footer) */
@media screen and (min-width: 1600px) {
    .mo-gnb {
        font-size: 1.2em;
    }
}

@media screen and (min-width: 1900px) {
    body {
        font-size: 18px;
    }
}


/* 사이트맵 동그라미 애니메이션 */

@keyframes circle_ani {
    form {
        transform: rotate(0);
    }

    to {
        transform: rotate(360deg);
    }
}