@charset 'UTF-8';
/* 웹폰트 CDN(Content Delivery Network) 연결 */
@import url('https://fonts.googleapis.com/css2?family=Asta+Sans:wght@300..800&display=swap');
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,300,0,0');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import url('var.css');


/* 기본 디자인, 모바일 위주 */
/* 1. 초기화 */
/* html{
    scroll-behavior: smooth;
} */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ol,
ul {
    list-style-type: none;
}

body {
    font-size: 1em;
    /*16px*/
    font-family: 'Asta Sans', 'Pretendard Variable', sans-serif;
    line-height: 1.6;
    color: var(--primary-font-color);
    word-break: keep-all;
    background-color: #fff;
}

a {
    text-decoration: none;
    color: var(--primary-font-color);
    cursor: pointer;
}

img {
    max-width: 100%;
    vertical-align: middle;
}

body.fixed {
    overflow: hidden;
}

input,
button,
select,
textarea {
    vertical-align: middle;
    color: #222;
    font-size: 1em;
    font-family: 'Asta Sans', 'Pretendard', 'Malgun Gothic', sans-serif;
    line-height: 1.6;
    background: none;
    /* 배경색 제거 (또는 transparent) */
    border: none;
    /* 기본 테두리 제거 */
    padding: 0;
}

button {
    cursor: pointer;
}

button:focus {
    outline: 0;
}

/* 2. 공용클래스(공통디자인) */
.wrap {
    width: 100%;
    max-width: 120em;
    /* 1920 기준 */
    margin: 0 0;
    padding: 0 20px;
}

.clearfix::after {
    content: '';
    display: block;
    clear: both;
}

.blind {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
}

/* btn 공통 스타일 */
.btn-common {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-height: 48px;
    /* min-width: 30px; */
    padding: 12px 50px;
    border-radius: 6px;
    background-color: var(--primary-color);
    box-sizing: border-box;
    text-decoration: none;
    cursor: pointer;
    white-space: nowrap;
    transition: 0.1s;
}

.btn-common:hover {
    box-shadow: 5px 0 10px rgba(0, 0, 0, 0.5);
    transition: 0.3s;
}

/* 안쪽 텍스트/아이콘 묶음 */
.btn-label {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.1;
    color: #fff;
}

/* 버튼 안 텍스트 */
.btn-label span {
    display: inline-block;
    color: #fff;
}

/* 버튼 안 아이콘 */
.btn-label i {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    line-height: 1;
    font-size: 18px;
    flex-shrink: 0;
}

a.btn-common {
    color: inherit;
}

button.btn-common {
    appearance: none;
    -webkit-appearance: none;
}



/* 3. 글자와 여백 */
.wh,
.wh a {
    color: #fff
}

.bk,
.bk a {
    color: #222
}

.red,
.red a {
    color: var(--primary-color)
}

/* -----레이아웃-----  */
.main-sec {
    position: relative;
    width: 100%;
}


/* 4. 영역별 설계  */
/* 4.1 바로가기(skip) */
#kcar-skip {
    text-align: center;
}

#kcar-skip a {
    position: fixed;
    left: 0;
    top: -48px;
    width: 100%;
    line-height: 48px;
    color: #fff;
    opacity: 1;
    transition: 0.2s;
}

#kcar-skip a:focus {
    top: 0;
    opacity: 0;
    z-index: 9999;
}

/* 4.2 상단(header) */
#kcar-hd {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 100;
    /* font-weight: 400; */
    background-color: #000;
}

#kcar-hd.fixed {
    position: fixed;
}

.hd-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
}

.kcar-logo {
    position: relative;
    width: 80px;
    height: 100%;
    z-index: 100;
    background: url('../images/svg/logo.svg') center center / contain no-repeat;
    cursor: pointer;
}

.kcar-logo a {}

#kcar-gnb {
    /* PC에서 사용하는 gnb*/
    display: none;
}

#kcar-gnb:before {
    content: '';
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    height: 0;
    transition: 0.2s;
}

#kcar-gnb:after {
    display: none;
    content: '';
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    height: 1px;
    background-color: #fff;
    opacity: 0.2;
}

body.sub #kcar-gnb:after {
    display: none;
    content: '';
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    height: 1px;
    background-color: #000;
    opacity: 0.05;
}

.kcar-gnb {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.kcar-util-wrap {
    display: flex;
    align-items: center;
}

.lang-wrap {
    position: relative;
    padding-right: 24px;
}

.lang-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
}

.lang-btn:before {
    content: '\e894';
    font-family: var(--google-icon);
    font-size: 24px;
    color: #fff;
}

.lang-list {
    position: absolute;
    left: 25%;
    top: 100%;
    transform: translateX(-50%);
    width: 50px;
    padding: 10px;
    border-radius: 4px;
    background-color: var(--primary-color);
    text-align: center;
    font-size: 16px;
    opacity: 0;
    pointer-events: none;
    transition: 0.3s;
}

.lang-list a {
    color: #fff;
    opacity: 0.7;
    display: block;
    margin: 0;
    font-weight: 400;
    transition: 0.3s;
}

.lang-list a:hover {
    opacity: 1;
}

.sitemap-open-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
}

.sitemap-open-btn:before {
    content: '\e5c3';
    font-family: var(--google-icon);
    font-size: 24px;
    color: #fff;
    line-height: 1;
}

.depth1 {
    position: relative;
}

.depth1>a {
    position: relative;
    display: flex;
    align-items: center;
    height: 80px;
    padding: 0 0.5em;
    font-size: 1.1em;
    z-index: 2;
}

.depth1 a {
    color: #fff;
}

.depth2 {
    display: none;
    position: absolute;
    left: calc(50% - 120px);
    top: 100%;
    width: 240px;
    padding: 20px 0;
    text-align: center;
    line-height: 2;
    overflow: hidden;
    z-index: 1;
    transition: 0.1s;
}

.depth2:before {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    content: '';
    z-index: -1;
}

.depth2 li {
    opacity: 1;
    transition: 0.2s;
}

.depth2 a:hover {
    color: var(--primary-color);
}

.lang-wrap.active .lang-btn:after {
    transform: scaleY(-1);
}

.lang-wrap.active .lang-list {
    opacity: 1;
    transform: translate(-50%, 10%);
    pointer-events: auto;
}


/* 라이트모드 (sub 페이지 기준) */
body.sub #kcar-hd {
    background-color: #fff;
    color: #222;
}

body.sub .kcar-gnb a {
    color: #222;
}

body.sub #kcar-hd .lang-list a {
    color: #fff;
}


body.sub #kcar-hd .depth2 a:hover {
    color: var(--primary-color);
}

body.sub .kcar-logo a {
    background-image: url('../images/svg/logo.svg');
}

body.sub .lang-btn:before {
    color: #222;
}

body.sub .sitemap-open-btn:before {
    color: #222;
}



/* 사이트맵 */
.kcar-mo-gnb-sec {
    position: fixed;
    right: 0;
    top: -100%;
    width: 100%;
    height: 100%;
    padding-top: 130px;
    background-color: #fff;
    overflow: auto;
    z-index: 99;
}

.sitemap-close-btn {
    position: absolute;
    right: 40px;
    top: 15px;
    width: 24px;
    height: 24px;
}

.sitemap-close-btn:before {
    content: '\e5cd';
    font-family: var(--google-icon);
    font-size: 24px;
}

.mo-gnb-container {}

.mo-gnb-wrap {}

.mo-gnb {}

.mo-gnb a {
    display: block;
}

.mo-depth1 {
    /* margin-bottom: 1.2em; */
}

.mo-depth1>a {
    font-size: 1.25em;
    font-weight: 700;
    line-height: 2.8;
}

.mo-depth2 {
    line-height: 2.2;
}

.mo-depth2 li {}

.mo-depth2 li:hover a {
    color: var(--primary-color);
}

.mo-lang-container {
    position: absolute;
    right: 48px;
    top: 20px;
    display: table;
    border-spacing: 10px;
    font-weight: 600;
}

.mo-lang-container a {
    display: table-cell;
    width: 80px;
    height: 32px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    text-align: center;
    vertical-align: middle;
    transition: 0.3s;
}

.mo-lang-container a:hover {
    border-color: #fff;
    background-color: #fff;
    color: var(--main-color) !important;
}

/* 모바일 gnb (pc 사이트맵) 동작 */
.kcar-mo-gnb-sec {
    right: -100%;
    top: 0;
}


.shop-btn {
    display: block;
    position: relative;
    width: 100%;
    padding-left: 1em;
    margin-top: 2em;
    background-color: var(--primary-color);
    border-radius: 10px;
    text-align: left;
    font-size: 1.4em;
    font-weight: 700;
    color: #fff;
    line-height: 2.2em;
}

.shop-btn:after {
    position: absolute;
    right: 10px;
    content: '\e5cc';
    font-family: var(--google-icon);
    font-weight: 600;
    font-size: 28px;
}

/* 4.3 하단(footer) */
/* 4. 푸터 영역 */
#kcar-ft {
    width: 100%;
    background: #000;
    padding: 40px 0;
}

.ft-wrap {
}
.ft-info{
    position: relative;
}
.ft-inner {}

.ft-bottom {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: flex-start;
}

#kcar-ft .ft-left-content {
    flex: 1 1 auto;
}

#kcar-ft .ft-right-content {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 24px;
    flex-shrink: 0;
}

#kcar-ft .ft-right-group {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

#kcar-ft .ft-logo {
    width: 80px;
    height: 20px;
    margin-bottom: 32px;
    background: url('../images/svg/logo.svg') no-repeat left center / contain;
    text-indent: -9999px;
}

#kcar-ft .ft-company-info,
#kcar-ft .copyright {
    color: #fff;
    opacity: 0.7;
    font-size: 13px;
    line-height: 1.4;
    padding-bottom: 14px;
}

.ft-company-info dl {
    display: flex;
    gap: 1em;
}

.ft-company-info dt:before {
    content: " : ";
    padding-right: 1em;
}

.ft-company-info .address {
    display: inline-flex;
}

#kcar-ft .ft-sns-icons {
    display: flex;
    gap: 20px;
    margin: 24px 0 28px;
}

#kcar-ft .ft-sns-icons a {
    display: block;
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    opacity: 0.7;
}

#kcar-ft .sns-fb {
    background-image: url('../images/icon-sns_facebook.png');
}

#kcar-ft .sns-ig {
    background-image: url('../images/icon_instagram.png');
}

#kcar-ft .sns-yt {
    background-image: url('../images/icon_youtube.png');
}

#kcar-ft .sns-bg {
    background-image: url('../images/icon_blog.png');
}

#kcar-ft .sns-cf {
    background-image: url('../images/icon_cafe.png');
}

.ft-family-site {
    position: absolute;
    top: 0;
    right: 0;
}

.family-site-btn {
    background: var(--primary-color);
}

.family-site-btn i {
    font-size: 18px;
}


.ft-family-site .icon-plus {
    display: flex;
    gap: 0.5em;
    align-items: center;
    justify-content: center;
    font-size: 1em;
}
.icon-plus:after {
    content: '\e89e';
    font-family: var(--google-icon);
}

#kcar-ft .ft-awards-list {
    display: flex;
    list-style: none;
}

#kcar-ft .ft-awards-list li {
    position: relative;
    min-height: 45px;
    padding-left: 58px;
    padding-right: 10px;
    color: #fff;
    opacity: 0.7;
    font-size: 10px;
    line-height: 1.2;

}


#kcar-ft .ft-awards-list li::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 45px;
    height: 45px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

#kcar-ft .ncsi::before {
    background-image: url('../images/svg/logo-NCSI-Award.svg');
}

#kcar-ft .first::before {
    background-image: url('../images/logo-firstBrandAward.png');
}

#kcar-ft .btn-top-scroll {
    /* display: block; */
    width: 50px;
    height: 50px;
    background: #333 url('../images/svg/i_more_wh.svg') no-repeat center / 24px;
    transform: rotate(180deg);
    border-radius: 4px;
    transition: 0.3s;
}

#kcar-ft .btn-top-scroll:hover {
    background-color: var(--primary-color);
}

