@charset 'UTF-8';
.business-container {
}
h3 {
    margin: 1em 0;
}
.title-context {
    margin: 2.4em 0;
    width: 100%;
    margin-top: 2.4rem;
    margin-bottom: 2.4rem;
    background-color: #f9fafb;
    border-radius: .8rem;
    text-align: left;
    padding: 1em;
}
.esg-list {
    margin-top: 2.4rem;
    display: flex;
    flex-direction: column;
    align-items: top;
    width: 100%;
}
.esg-list img {
    height: 7rem;
}
.esg-list > li {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 0.7rem;
    width: 100%;
    border: 1px solid #e2e8ee;
    border-top-right-radius: .4rem;
    border-bottom-right-radius: .4rem;
    margin-bottom: 1.2rem;
}

.esg-contents {
    padding: 0 1em;
}
.box-in-title {
    font-size: 1.1em;
    font-weight: 700;
    line-height: 1.1;
    color: #16171d;
    margin-bottom: 0.5rem;
}
.esg-link-lists li {
   display: inline-flex;
}

.esg-result table thead tr th {
    padding: 1.2rem 0;
    background-color: #f9fafb;
    font-size: 1.2rem;
    font-weight: 400;
    text-align: center;
    color: #16171d;
    border-left: 1px solid #f2f2f2;
    border-bottom: 1px solid #f2f2f2;
}
.esg-result table tbody tr td {
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1 ;
    text-align: center;
    color: #54555a;
    border-bottom: 1px solid #f2f2f2;
}

.esg-result table tbody tr td:first-child {
    border-left: 0;
}
.esg-result img {
    min-height: 3rem;
}
.esg-record, .esg-value-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
    padding: 1em;
}
.esg-record {
    position: relative;
    height: 100%;
}

.esg-primary-value {
    font-size: 8rem ;
    letter-spacing: -.9rem;
    color: #b70f28;
    text-align: left;
    font-weight: 700;
}
.esg-primary-value {
    display: none;
}
.esg-result colgroup col:nth-child(2) {
    width: 0;
}
.esg-value-list > li {
    width: 2.4rem;
    height: 2.4rem;
    line-height: 2.4rem;
    text-align: center;
    background-color: #f2f2f2;
    color: #cfcfcf;
}
.esg-value-list>li.on {
    background-color: #b70f28;
    color: #fff;
    font-weight: bold;
}

.esg-record .desc {
    font-size: 0.8em;
    line-height: 1.38;
    text-align: left;
}  
.esg-result table tbody tr:last-child .esg-record {
    flex-direction: column;
    justify-content: center;
} 
/* 반응형 */
/* 1. mo tiny */
@media screen and (max-width: 360px) {
    .esg-result table thead tr th {
        /* font-size: 1rem; */
    }
}

/* 2. mo */
@media screen and (max-width: 767px) {
    .esg-result table tbody tr td {
        font-size: 0.8rem;
        font-weight: 400;
        line-height: 1.86;
    }
    .esg-value-list {
        gap: 0.5em;
    }
    .esg-value-list > li {
        width: 1.2rem;
        height: 1.2rem;
        line-height: 1.2rem;
        text-align: center;
        background-color: #f2f2f2;
        color: #cfcfcf;
    }
}

/* 3. tb~ */
@media screen and (min-width: 768px) {
    
}

/* 4. only tb */
@media screen and (min-width: 768px) and (max-width: 1279px) {
    .esg-value-list {
        gap: 0.5em;
    }
    .esg-value-list > li {
        width: 1.6rem;
        height: 1.6rem;
        font-size: 0.8rem;
        line-height: 0.8rem;
        padding: 0.5rem;
    }
}

/* 5. laptop 1280~ */
@media screen and (min-width: 1280px) { 
    .title-context {
        width: 100%;
        background-color: #f9fafb;
        border-radius: .8rem;
        text-align: left;
        font-size: 1.6rem;
    }
    .esg-contents {
        height: 14rem;
        padding: 1.8rem;
        width: 100%;
        border: 1px solid #e2e8ee;
        border-top-right-radius: .4rem;
        border-bottom-right-radius: .4rem;
        margin-bottom: 1.2rem;
    }
    .box-in-title {
      font-size: 1.5em;
      font-weight: 700;
      line-height: 1.3;
      color: #16171d;
      margin-bottom: 0.5rem;
    }
    
    .esg-list {        
        justify-content: space-between;
        flex-direction: row;
    }
    .esg-list > li {
        flex-direction: column;
        font-size: inherit;
        border: none;
        width: 23.1rem;
    }
    .esg-list img {
        width: 100%;
        height: auto;
    }
    .esg-link-lists li {
      display: inline-flex;
      flex-wrap: wrap;
      margin-right: 1rem;
    }
    .esg-result table thead tr th {
        padding: 1.2rem 0;
        background-color: #f9fafb;
        font-size: 1.4rem;
        font-weight: 400;
        text-align: center;
        color: #16171d;
        border-left: 1px solid #f2f2f2;
        border-bottom: 1px solid #f2f2f2;
    }
    .esg-result table tbody tr td:first-child {
      border-left: 0;
    }
    .esg-record, .esg-value-list {
      display: flex;
      align-items: center;
      gap: 0.8rem;
    }
    .esg-record {
      position: relative;
      height: 100%;
    }

    .esg-value-list>li.on {
      background-color: #b70f28;
      color: #fff;
    } 
    .esg-primary-value {
        display: block;
    }
    .esg-result colgroup col:nth-child(2) {
        width: inherit;
    } 
}

/* 6. laptop 1440~ */
@media screen and (min-width: 1440px) {}

/* 6. laptop 1921~ */
@media screen and (min-width: 1921px) {}