@charset 'UTF-8';
/* 변수선언 */
:root {
    --primary-color: #B70F28;
    --primary-font-color: #222;
    --point-font-color: #D82631;
    --google-icon: 'Material Symbols Outlined';
    --google-ico: 'Material Icons'
}