@charset 'UTF-8';
/* 변수선언 */
:root {
    --primary-color: #B70F28;
    --primary-font-color: #222;
    --point-font-color: #D82631;
    
    --gray-font: #B1B0AF;
    --light-gray: #f2f2f2;
    --pale-gray: #ccc;
    --medium-gray: #999;
    --medium-dark-gray: #555;
    --dark-gray: #121212;
    --serif-font: 'Noto Sans Serif', serif;
    --sans-pre: 'Pretendard Variable', sans-serif;
    --google-icon: 'Material Symbols Outlined'
}